.field-all {
  font-size: 20px;
  background-color:#EEE;
  text-align: center;
  width: 700px;
  padding: 30px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 20px;
  .label-must {
    width: 40px;
    background-color: #3CCACE;
    padding: 4px 8px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
  }
  .field-nick {
    width: 500px;
    margin: 0 auto;
    background-color:#EEE;
    text-align: center;
    padding: 20px;
  }
  .field-name {
    font-size: 20px;
    font-family: monospace;
    background-color:#EEE;
    text-align: center;
    width: 550px;
    padding: 30px;
    margin: auto;
    display: flex;
    margin-left: 90px;
  }
  .field-kana {
    background-color:#EEE;
    text-align: center;
    width: 600px;
    padding: 30px;
    margin: auto;
    display: flex;
  }
  .field-email {
    background-color:#EEE;
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: auto;
  }
  .field-birth {
    background-color:#EEE;
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: auto;
  }
  .field-password {
    background-color:#EEE;
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: auto;
  }
  .field-pass2 {
    background-color:#EEE;
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
  }
  .button-regi { 
    display: inline-block;
    border-radius: 5%;
    font-size: 22pt;
    text-align: center;
    cursor: pointer;
    padding: 13px 100px;
    background: #3CCACE;
    color: #ffffff;
    line-height: 1em; 
    transition: .3s;
    border: 2px solid #3CCACE;
  }
}